{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "8.12.0"
                }
            }
        ]
    ],
    "plugins": [
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ]
}